DEVELOPMENT_PASSWORD=123456abcdef
DEVELOPMENT_THEMEID=1234567890
DEVELOPMENT_URL=devshop.myshopify.com

PRODUCTION_PASSWORD=abcdef123456
PRODUCTION_THEMEID=0987654321
PRODUCTION_URL=prodshop.myshopify.com